{
    "telegram": {
        "bot_token": "6580675778:AAGB20FUsO5q0O6AFdhtbPgp0-nUbzN2keo",
        "enable_inline_mode": true,
        "context_expiration_time": 600
    },
    "openai": {
        "api_key": "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",
        "chat_model": "gpt-3.5-turbo",
        "chat_temperature": 1.0,
        "enable_custom_system_role": true,
        "default_system_role": "You are a beloved girlfriend and helpful assistant",
        "api_timeout": 30
    },
    "user_management": {
        "allow_all_users": false,
        "allowed_users": [
            "<USER_ID_1>", 
            "<USER_ID_2>"
        ],
        "super_users": [
            "<SUPER_USER_ID_1>",
            "<SUPER_USER_ID_2>"
        ]
    },
    "image_generation": {
        "enable_dalle": true,
        "limit_per_day": 5
    },
    "voice_message": {
        "enable_voice": true,
        "tts_reply": true,
        "text_as_caption": true
    },
    "azure_tts": {
        "language": "en-US",
        "voice": "en-US-AmberNeural",
        "subscription_key": "f85b02b6ed334ea191cc304e5c69ec83",
        "subscription_region": "eastus"
    },
    "logging": {
        "log_level": "INFO",
        "log_format": "%(asctime)s - %(name)s - %(levelname)s - %(message)s",
        "log_path": "./log/",
        "log_file_with_time": false
    }
}
